<mat-toolbar  color="primary">
    <mat-toolbar-row>
        <span>Demo app</span>
        <span class="example-spacer"></span>
        <a  *ngIf="!(isLoggedIn | async)" class="menu-item" [routerLink]="['login']" routerLinkActive="active-link" mat-raised-button color="default">Login</a>
        <a class="menu-item"  *ngIf="!(isLoggedIn | async)" mat-raised-button color="warn" routerLinkActive="list-item-active" [routerLink]="['signup']">Signup</a>
        <a class="menu-item"  *ngIf="(isLoggedIn | async)" mat-raised-button color="default" routerLinkActive="list-item-active" (click)="logout()">Logout</a>
    </mat-toolbar-row>
</mat-toolbar>
