<div class="form-signin">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <p *ngIf="loginError">{{loginError}}</p>
    <mat-form-field>
      <input matInput placeholder="Enter your email" formControlName="email" required>
      <mat-error *ngIf="!loginForm.controls.email.valid">Please enter valid email id</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Enter your password" type="password" formControlName="password" required>
        <mat-error *ngIf="!loginForm.controls.password.valid">Please enter password</mat-error>
    </mat-form-field><br/>
      <button type="submit" mat-raised-button color="primary">Login</button>
  </form>
</div>
